
<div class="container" style="padding: 0; margin-left: 0">
    <div class="left-content text-center animated fadeIn" style="color: #fff">
        <h3>Painel de Controle</h3>
        <h4>Use um login de Administrador para acessar o painel</h4>
        <div class="adm-icon-icon">
            <md-icon class="material-icons md-primary md-hue-1" style="font-size: 150px">fingerprint</md-icon>
        </div>
    </div>
    <div class="right-content ">
        <div class="pull-right">
            <md-button class="md-raised md-warn animated bounceIn" ui-sref="login">Aplicação</md-button>
        </div>

        <form name="userForm" class="form-admin">
            <md-input-container class="md-block email animated bounceIn md-accent">
                <label>Email</label>
                <input name="email" ng-model="user.email" ng-init="user.email='administrador@delosservicos.com.br'" required minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

                <div ng-messages="userForm.email.$error" role="alert">
                    <div ng-show="userForm.email.$error.pattern">Você deve usar um email valido!</div>
                    <div ng-show="userForm.email.$error.minlength">O camopo de ter no minimo 6 caracteres!</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block pass animated bounceIn md-accent">
                <label>Password</label>
                <input name="password" type="password" ng-model="user.password" required minlength="6"/>
                <div ng-messages="userForm.password.$error" role="alert">
                    <div ng-show="userForm.password.$error.minlength">O camopo de ter no minimo 6 caracteres!</div>
                </div>
            </md-input-container>
            <div class="text-center">
                <md-button type="submit" class="md-raised animated bounceIn" ng-click="adminLogin(user)">Entrar</md-button>
            </div>
        </form>

    </div>
</div>
