<md-toolbar class="md-primary">
    <div class="md-toolbar-tools ">
        <h3>
            <span>Dashboard</span>
        </h3>
    </div>
</md-toolbar>

<form name="userForm" class="form-signin ">
    <md-input-container class="md-block email animated bounceIn">
        <label>Email</label>
        <input name="email" ng-model="user.email" ng-init="user.email='administrador@delosservicos.com.br'" required minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

        <div ng-messages="userForm.email.$error" role="alert">
            <div ng-show="userForm.email.$error.pattern">Você deve usar um email valido!</div>
            <div ng-show="userForm.email.$error.minlength">O camopo de ter no minimo 6 caracteres!</div>
        </div>
    </md-input-container>

    <md-input-container class="md-block pass animated bounceIn">
        <label>Password</label>
        <input name="password" type="password" ng-model="user.password" required minlength="6"/>
        <div ng-messages="userForm.password.$error" role="alert">
            <div ng-show="userForm.password.$error.minlength">O camopo de ter no minimo 6 caracteres!</div>
        </div>
    </md-input-container>
    <div class="text-center">
        <md-button type="submit" class="md-raised md-accent" ng-click="login(user)">Entrar</md-button>
    </div>
</form>

<nav class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-container">
            <div class=" pull-right">
                <md-button class="md-icon-button">
                    <md-icon class="material-icons">help_outline</md-icon>
                    <md-tooltip md-direction="top">
                        Ajuda
                    </md-tooltip>
                </md-button>

                <md-button class="md-icon-button" ui-sref="admLogin">
                    <md-icon class="material-icons">developer_board</md-icon>
                    <md-tooltip md-direction="top">
                        Administrar Sistema
                    </md-tooltip>
                </md-button>

                <md-button class="md-icon-button" onclick="window.close()">
                    <md-icon class="material-icons">power_settings_new</md-icon>
                    <md-tooltip md-direction="top">
                        Sair do Sistema
                    </md-tooltip>
                </md-button>
            </div>
        </div>
    </div>
</nav>

<div id="particles-js"></div>
