<div class="menu">
    <ul class="sidebar nav">

        <li ng-class="{active : activeMenu === 'myProfile'}" ng-click="setActive('myProfile')" class="animated fadeIn" style="-webkit-animation-delay: 0.3s;">
            <a md-ink-ripple ui-sref="adm.dashboard " >
                <!--<b class="badge bg-danger up pull-right">2</b>-->
                <md-icon class="material-icons animated bounceIn" style="-webkit-animation-delay: 0.4s;">perm_contact_calendar</md-icon>
                <span class="p-l"> Meu Perfil</span>
            </a>
        </li>

        <li ng-class="{active : activeMenu === 'myConfig'}"  class="animated fadeIn" style="-webkit-animation-delay: 0.4s; cursor: pointer">
            <a md-ink-ripple ng-click="setActive('myConfig'); subConfig = { true: false, false:true}[subConfig]">
                <span class="pull-right text-muted">
                    <i class="material-icons">arrow_drop_down</i>
                </span>
                <md-icon class="material-icons" style="-webkit-animation-delay: 0.5s;">settings_applications</md-icon>
                <span class="p-l">Configurações</span>
            </a>
            <ul class="menu nav" ng-show="subConfig == true">
                <li>
                    <a md-ink-ripple ui-sref="app.statistics">
                        <span class="p-l-sub">Trocar Senha</span>
                    </a>
                </li>
                <li>
                    <a md-ink-ripple ui-sref="app.statistics">
                        <span class="p-l-sub">Importar / Exportar</span>
                    </a>
                </li>
                <li>
                    <a md-ink-ripple ui-sref="app.statistics">
                        <span class="p-l-sub">Sincronização</span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a md-ink-ripple ui-sref="access.admlockscreen" class="animated fadeIn" style="-webkit-animation-delay: 0.5s;">
                <md-icon class="material-icons animated bounceIn" style="-webkit-animation-delay: 0.6s;">exit_to_app</md-icon>
                <span class="p-l"> Logout</span>
            </a>
        </li>

    </ul>
</div>

<ul class="sidebar nav">

    <li ng-class="{active : activeMenu === 'fullScreen'}" ng-click="setActive('fullScreen')" class="animated fadeIn" style="-webkit-animation-delay: 0.6s;">
        <a md-ink-ripple ng-click="goFullscreen()">
            <md-icon class="material-icons animated bounceIn" style="-webkit-animation-delay: 0.7s;">fullscreen</md-icon>
            <span class="p-l"> Full Screen</span>
        </a>
    </li>
    <li ng-class="{active : activeMenu === 'fixMenu'}" ng-click="setActive('fixMenu'); fixMenu()" class="animated fadeIn" style="-webkit-animation-delay: 0.6s;">
        <a md-ink-ripple>
            <md-icon class="material-icons" ng-show="isfixMenu == true">check_box</md-icon>
            <md-icon class="material-icons" ng-show="isfixMenu == false">check_box_outline_blank</md-icon>
            <span class="p-l" ng-show="isfixMenu == false">Fixar Menu</span>
            <span class="p-l" ng-show="isfixMenu == true">Escoder Menu</span>
        </a>
    </li>

</ul>