<div class="box-cell scrollable hover" ng-init="accountShow = false">
    <div class="box-inner">
        <div class="p hidden-folded" style="background-image:url(./public/images/mw-06.png); height: 150px; position: relative; background-size:cover; color:#FFF">
            <div style="position:absolute; bottom: 0px;left: 0px; padding: 10px; color: #f2f3f3; width: 100% ">
                <span class="block bold">{{user.name}}</span>
                <div ng-click="accountShow = { true: false, false:true}[accountShow]">
                    <div class="pull-left" style="max-width: 198px; overflow: hidden; text-overflow: ellipsis;" >{{user.email}}</div>
                    <div class="pull-right">
                        <i class="material-icons" ng-show="accountShow == false">arrow_drop_down</i>
                        <i class="material-icons" ng-show="accountShow == true">arrow_drop_up</i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-class="{show : accountShow === true, hide: accountShow === false}" ng-include="'./resources/views/partials/account.menu.html'"></div>

    <div class="menu" ng-class="{hide : accountShow === true, show: accountShow === false}">
        <ul class="sidebar nav">
            <li class="nav-header m-v-sm hidden-folded" style="padding:10px 16px">
                Menu
            </li>
            <li ng-class="{active : activeMenu === 'start'}" ng-click="setActive('start')" class="animated fadeIn" style="-webkit-animation-delay: 0.3s;">
                <a md-ink-ripple ui-sref="adm.dashboard " >
                    <!--<b class="badge bg-danger up pull-right">2</b>-->
                    <md-icon class="material-icons animated bounceIn" style="-webkit-animation-delay: 0.4s;">dashboard</md-icon>
                    <span class="p-l"> Dashboard</span>
                </a>
            </li>

            <li ng-class="{active : activeMenu === 'estatistics'}" ng-click="setActive('estatistics')" class="animated fadeIn" style="-webkit-animation-delay: 0.4s;">
                <a md-ink-ripple ui-sref="adm.statistics">
                    <md-icon class="material-icons animated bounceIn" style="-webkit-animation-delay: 0.5s;">show_chart</md-icon>
                    <span class="p-l"> Estatisticas</span>
                </a>
            </li>

            <li ng-class="{active : activeMenu === 'userRegister'}" ng-click="setActive('userRegister')" class="animated fadeIn" style="-webkit-animation-delay: 0.5s;">
                <a md-ink-ripple ui-sref="adm.users">
                    <md-icon class="material-icons animated bounceIn" style="-webkit-animation-delay: 0.6s;">group</md-icon>
                    <span class="p-l"> Usuários</span>
                </a>
            </li>

            <li ng-class="{active : activeMenu === 'roles'}" ng-click="setActive('roles')" class="animated fadeIn" style="-webkit-animation-delay: 0.6s;">
                <a md-ink-ripple ui-sref="adm.profiles">
                    <md-icon class="material-icons animated bounceIn" style="-webkit-animation-delay: 0.7s;">recent_actors</md-icon>
                    <span class="p-l"> Perfis</span>
                </a>
            </li>



            <!---
            <li ng-class="{active : activeMenu === 'add'}" ng-click="setActive('add')">
                <a md-ink-ripple ui-sref="app.register">
                    <md-icon class="material-icons animated bounceIn" style="-webkit-animation-delay: 1.4s;">add_circle_outline</md-icon>
                    <span class="p-l">Cadastrar</span>
                </a>
            </li>

            <li ng-class="{active : activeMenu === 'estatistics'}" ng-click="setActive('estatistics')">
                <a md-ink-ripple ui-sref="app.statistics">
                    <md-icon class="material-icons animated bounceIn" style="-webkit-animation-delay: 1.5s;">graphic_eq</md-icon>
                    <span class="p-l">Estatisticas</span>
                </a>
            </li>
            <li ng-class="{active : activeMenu === 'galeri'}" ng-click="setActive('galeri')">
                <a md-ink-ripple ui-sref="app.statistics">
                    <md-icon class="material-icons animated bounceIn" style="-webkit-animation-delay: 1.6s;">photo_album</md-icon>
                    <span class="p-l">Galeria de Imagens</span>
                </a>
            </li>
            <li ng-class="{active : activeMenu === 'sincronize'}" ng-click="setActive('sincronize')">
                <a md-ink-ripple ui-sref="app.synchronize">
                    <md-icon class="material-icons animated bounceIn" style="-webkit-animation-delay: 1.7s;">publish</md-icon>
                    <span class="p-l">Sincronizar</span>
                </a>
            </li>
            <li ng-class="{active : activeMenu === 'importexport'}" ng-click="setActive('importexport')">
                <a md-ink-ripple ui-sref="app.synchronize">
                    <md-icon class="material-icons animated bounceIn" style="-webkit-animation-delay: 1.8s;">import_export</md-icon>
                    <span class="p-l">Importar / Exportar</span>
                </a>
            </li>
            <li ng-class="{active : activeMenu === 'changepass'}" ng-click="setActive('changepass')">
                <a  md-ink-ripple ui-sref="app.changepass">
                    <md-icon class="material-icons animated bounceIn" style="-webkit-animation-delay: 1.9s;">vpn_key</md-icon>
                    <span class="p-l">Trocar Senha</span>
                </a>
            </li>
            <li ng-class="{active : activeMenu === 'del'}" ng-click="setActive('del')">
                <a md-ink-ripple>
                    <md-icon class="material-icons animated bounceIn" style="-webkit-animation-delay: 2s;">delete</md-icon>
                    <span class="p-l">Lixeira</span>
                </a>
            </li>

            --->

        </ul>

    </div>
</div>