<h1>Dashboard
</h1>
<div layout="row">
    <div flex="33">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Membros</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div class="text-center">
                    Total de Inventariantes
                    <h2 class="bold">1000</h2>
                </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>Action 1</md-button>
            </md-card-actions>
        </md-card>
    </div>


    <div flex="33">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Card with image</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels"  width="100" height="100">
                </canvas>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>Action 1</md-button>
            </md-card-actions>
        </md-card>
    </div>


    <div flex="33">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Card with image</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>Card content</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>Action 1</md-button>
            </md-card-actions>
        </md-card>
    </div>

</div>




