<!-- menu -->
<div class="app-aside md-whiteframe-z1 md-sidenav-left folded animated bounceInLeft" md-component-id="left"
     ui-view="leftMenu@" ng-controller="LeftMenuController" style="background: #FFF; overflow-x: hidden; -webkit-transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
        transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);">
</div>
<!-- / menu -->

<!-- content -->
<div ui-view="content@">
</div>
<!-- / content -->

<div class="modal fade" id="chat" data-backdrop="false">
    <div class="right w-xxl bg-white md-whiteframe-z2" ui-view="rightMenu@">
    </div>
</div>